
<ion-view view-title="Setup">
    <ion-nav-buttons side="right">
        <button class="button" ng-click="newChecklist()">
        	New
        </button>
    </ion-nav-buttons>
    <div class="bar bar-subheader bar-light">
        <h1 class="title">Checklists</h1>
    </div>
    <ion-content class="has-subheader" >        
        <ion-list>
            <ion-item ng-repeat="list in checklists" ng-click="editList(list)">
                {{list.checklist_name}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>